@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  margin: 0;
  background: linear-gradient(270deg, #069cbd, #097a89, #03afb8);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 50px;
}
form {
  width: 100%;
  text-align: center;
}
input {
  height: 50px;
  display: block;
  margin: 0 auto;
}
input,
.card,
.dayChoosed {
  width: 20%;
  background-color: #145260;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 5px 5px 5px black;
}
.btn {
  width: 20%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
}
.submit {
  width: 125px;
  height: 40px;
  margin: 20px 5px 0 0;
  display: inline;
  padding: 0;
  cursor: pointer;
}
input:focus {
  outline: none;
}
::placeholder,
input {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.15rem;
  padding-left: 10px;
}
.card {
  height: max-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 20px;
  font-size: 1.25rem;
}
h2 {
  font-size: 1.75rem;
}
h2,
.weather__det,
.searched__city {
  position: relative;
}
h2::after,
.weather__det::after,
.searched__city::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}
.weather__det > h3 {
  font-size: 2rem;
}
.weather__det,
.extra__det {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-wind,
.humidity {
  font-size: 1.5rem;
  margin-left: 5px;
}
.humidity {
  width: 30px;
  margin-top: 3px;
}
.container {
  position: relative;
  width: 100%;
  min-height: 450px;
}
.days {
  min-height: 10px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dayChoosed {
  width: 40px;
  cursor: pointer;
  color: white;
  font-family: "Quicksand", sans-serif;
  transition: all 0.5s;
}
.forecast {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.card.forecast {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card.forecast.active {
  opacity: 1;
}

button.dayChoosed.active {
  background-color: #0c333b;
  transform: translateY(-5px);
}
footer {
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}
span {
  font-weight: bold;
  color: #042229;
}
.social__icons a {
  margin-left: 10px;
  font-size: 1.45rem;
  display: inline-block;
  color: inherit;
  transition: transform 0.5s ease-in-out;
}
.social__icons a:hover {
  transform: translateY(-5px);
}

@media (max-width: 576px) {
  .title {
    font-size: 2.5rem;
    margin-top: 35px;
  }
  body {
    gap: 15px;
    height: 100%;
  }
  h2 {
    font-size: 1.25rem;
  }
  .card.forecast,
  .card,
  .btn,
  input {
    width: 75%;
    font-size: 1rem;
  }
  footer {
    font-size: 1rem;
  }
  .card {
    gap: 20px;
  }
  .social__icons a {
    font-size: 1.15rem;
  }
  .container {
    min-height: 350px;
  }
  .weather__img {
    width: 100px;
  }
}
@media (min-width: 576px) and (max-width: 1000px) {
  .title {
    font-size: 3rem;
    margin-top: 40px;
  }
  body {
    height: 100%;
  }
  h2 {
    font-size: 1.35rem;
  }
  .card.forecast,
  .card,
  .btn,
  input {
    width: 55%;
    font-size: 1.15rem;
  }
  footer {
    font-size: 1.1rem;
  }
  .social__icons a {
    font-size: 1.25rem;
  }
  .weather__img {
    width: 110px;
  }
}
